<!DOCTYPE html>
<html>
    <head>
        <title>트럼프퀴즈에 오신 걸 환영합니다!</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>트럼프 퀴즈</h1>

        <p>현재 페이지 : {{ page }}</p>

        {% for quiz in quizzes %}
        <div>
            <a href="/quiz/1/">
                {% if quiz.image %}
                <img src="{{ quiz.image.url }}" alt="{{ quiz.title }} 이미지" />
                {% endif %}
                <h3>{{ quiz.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </body>
</html>
