<!DOCTYPE html>
<html>
    <head>
        <title>{{ quiz.title }} 시작!</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>{{ quiz.title }}</h1>

        {% if quiz.image %}
        <div>
            <img src="{{ quiz.image.url }}" alt="{{ quiz.title }} 이미지" />
        </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            <p>당신의 이름은 무엇인가요?</p>
            {{ form.as_p }}
            <button type="submit">퀴즈 시작!</button>
        </form>

    </body>
</html>
