<!DOCTYPE html>
<html>
    <head>
        <title>1번 퀴즈 시작!</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>1번 퀴즈의 제목</h1>

        <div>
            <img src="http://images.freeimages.com/images/previews/3e2/weather-vane-1424027.jpg" alt="1번 퀴즈의 대표 이미지" />
            <p>1번 퀴즈는 재밌는 내용을 담고 있으니 꼭 풀어보세요.</p>
        </div>

        <form method="POST" action="">
            <p>당신의 이름은 무엇인가요?</p>
            <input type="text" name="username" />
            <button type="submit">퀴즈 시작!</button>
        </form>

    </body>
</html>
