<!DOCTYPE html>
<html>
    <head>
        <title>{{ question.quiz.title }}의 {{ question.title }}</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>{{ question.title }}</h1>

        {% if question.image %}
        <div>
            <img src="{{ question.image.url }}" alt="{{ question.title }} 이미지" />
        </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            {% if form.errors %}
                <p>선택을 올바르게 하세요</p>
            {% endif %}
            <ul>
                {% for answer in answers %}
                <li><input type="radio" name="answer" value="{{ answer.sequence }}" />
                    {{ answer.content }}</li>
                {% endfor %}
            </ul>

            <button type="submit">다음 문제로</button>
        </form>

    </body>
</html>
