<!DOCTYPE html>
<html>
    <head>
        <title>1번 퀴즈의 1번 문제</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>1번 문제 제목</h1>

        <div>
            <img src="http://images.freeimages.com/images/previews/3e2/weather-vane-1424027.jpg" alt="1번 문제의 대표 이미지" />
            <p>1번 문제 내용입니다. 당신이 좋아하는 것은?</p>
        </div>

        <form method="POST" action="">
            {% csrf_token %}
            {% if form.errors %}
                <p>선택을 올바르게 하세요</p>
            {% endif %}
            <ul>
                <li><input type="radio" name="answer" value="1" /> 커피</li>
                <li><input type="radio" name="answer" value="2" /> 홍차</li>
                <li><input type="radio" name="answer" value="3" /> 물</li>
            </ul>

            <button type="submit">다음 문제로</button>
        </form>

    </body>
</html>
